@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .hexagon {
    --hex-size: 150px;
    padding: 1rem;
    width: var(--hex-size);
    height: var(--hex-size);
    clip-path: polygon(5% 25%, 5% 75%, 50% 100%, 95% 75%, 95% 25%, 50% 0%);
    /*polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);*/
  }
}

@media screen and (min-width: 700px) {
a.nav-link {
  transition: .2s linear;
}

a.nav-link:hover {
  color: hsl(260,100%,80%)
}

a.nav-link .external {
  opacity: 0;
  transform-origin: bottom left;
  transform: scale(0, 0);
  transition: all .3s linear, color 0s;
}

a.nav-link:hover .external {
  opacity: 1;
  animation: external-link 1s 0s infinite;
}

@keyframes external-link {
  0% {transform: scale(1, 1) translate(0, .5rem);}
  50% {transform: scale(1, 1) translate(0.2rem, .2rem);}
  100% {transform: scale(1, 1) translate(0, .5rem);}
}
}

@media screen and (max-width: 699px) {
  a.nav-link:active {
    color: hsl(260,100%,80%)
  }
  a.nav-link .external {
    opacity: .5;
    transform: scale(1, 1) translate(0, .5rem);
  }
}