* {
  box-sizing: border-box;
}

:root,
html,
body,
#app {
  font-family: Roboto, Open Sans, sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  text-align: left;
}


.App {
  display: grid;
  position: relative;
  background: hsl(0, 0%, 100%);
}

.app-nav {
  transition-duration: 0.5s;
}

.app-nav.hide {
  transform: translateX(-100%);
}

.app-nav.show {
  transform: translateX(0);
}

.page-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 20%;
  z-index: -10;
}

.header {
  grid-column: content / -1;
  grid-row: header / span 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  /* grid-column: hero / span 2;
  grid-row: header / span 1;*/
  background: hsla(0, 0%, 20%, 100%);
  color: hsla(0, 0%, 100%, 80%);
  margin: 0;
  padding: 0rem 0.8rem 0rem 1.5rem;
  z-index: 3;
  /*filter: drop-shadow(
    6px 6px 1px hsla(0, 0%, 0%, 20%)
  ); */
  box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 50%),
    0px 2px 20px 4px hsla(0, 0%, 0%, 20%);
}

.overlay.hide {
  width: 0%;
  background: hsla(0, 0%, 0%, 0%);
  transition: background 0.5s, width 0s 0.5s;
}

.overlay.show {
  width: 100%;
  background: hsla(0, 0%, 0%, 30%);
  transition-property: background;
  transition-duration: 0.5s;
}

.nav-link {
  cursor: pointer;
  background: hsla(240, 0%, 60%, 0%);
  transition: 0.2s 0s linear;
}

.nav-link:hover {
  background: hsla(240, 0%, 60%, 20%);
}

.nav-link.page {
  cursor: pointer;
  border-left: 0.5rem solid hsla(240, 0%, 100%, 0%);
  background: hsla(240, 0%, 60%, 0%);
  color: hsl(240, 0%, 90%);
  transition: 0.5s 0s linear;
}

.nav-link.page:hover {
  border-left: 0.5rem solid hsla(240, 0%, 100%, 50%);
  background: hsla(240, 0%, 100%, 20%);
  /*color: hsl(240, 0%, 30%);*/
}

.nav-link.project {
  outline:3px solid hsla(0,0%,40%,0%);
  cursor: pointer;
  transition: 0.5s 0s linear;
}

.nav-link.project .label {
  background-color: hsla(0,0%,40%,100%);
color: hsla(0,0%,100%,100%);
transition: .5s 0s ease-in;
}

.nav-link.project:hover .label {
  background-color: hsla(0,0%,40%,30%);
color: hsla(0,0%,100%,0%);
  opacity: 1;
}
/*
.nav-link.project .overlay {
    background: linear-gradient(to bottom, hsla(0,0%,0%,100%) 50%, hsla(0,0%,0%,0%) 50%,);
  transition: .5s .1s ease-in;
  }

  .nav-link.project:hover .overlay {
    background: linear-gradient(to bottom, hsla(0,0%,0%,100%) 50%, hsla(0,0%,0%,0%) 50%,);
    }*/

    .nav-link.project:hover{
      outline:3px solid hsla(0,0%,40%,100%);
    }

.nav-panel {
  position: absolute;
  grid-column: side / span 1;
  grid-row: 1 / span 2;
}

.pointer {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: row;
  overflow: visible;
  z-index: 0;
  pointer-events: none;
}

.device-frame {
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  margin-left: auto;
}

.sample-content {
  position: absolute;
  grid-column: content / span 1;
  grid-row: content / span 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [title] auto [content] minmax(0, 1fr);
  grid-template-columns: [content] minmax(auto, 1fr);
  overflow: hidden;
  text-align: left;
  padding: 1rem;
  z-index: 0;
}

.listpage-content {
  position: absolute;
  grid-column: content / span 1;
  grid-row: content / span 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [title] auto [content] minmax(0, 1fr);
  grid-template-columns: [content] minmax(auto, 1fr);
  overflow: hidden;
  text-align: left;
  padding: 0rem;
  z-index: 0;
}

.main-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  text-align: left;
  padding: 0;
  /* min-height: 0;
  min-width: 0;*/
  z-index: 0;
}

.scroll-zone {
  position: static;
  grid-row: content / span 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  gap: 1rem;
  overflow-x: visible;
  overflow-y: scroll;
  z-index: 1;
  background: transparent;
}

.group {
  width: 100%;
  min-width: 0;
  gap: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: flex-start;
}

.group .group {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
}

.resume-timeline {
  display: grid;
  grid-template-columns: [date] 60px [marker] 32px [details] 1fr;
  row-gap: 0;
  column-gap: 0;
}

.resume-dates {
  /* display: flex;
  flex-flow: row nowrap; */
  grid-column: date / span 1;
  grid-row: 1 / span 1;
  text-align: right;
}

.resume-marker {
  grid-column: marker span 1;
  grid-row: 1 / span 1;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 4px hsla(0, 0%, 0%, 20%);
}

a.card.hover {
 background:  hsl(0,0%,100%);
transition: .5s 0s linear;
}

a.card.hover:hover {
 filter: opacity(80%);
 background: hsl(0,0%,90%);
  }

.text-bubble {
  width: auto;
  margin: 0.4rem 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 1px 2px hsla(0, 0%, 0%, 20%);
}

.note {
  display: flex;
  flex-flow: column nowrap;
  /*background: hsla(0, 0%, 100%, 70%);
  backdrop-filter: blur(50px);*/
  /*background: hsl(56, 100%, 92%);
   width: 400px;*/
  height: auto;
  max-height: 7rem;
  flex-grow: 1;
  flex-shrink: 2;
  flex-basis: 0;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 4px hsla(0, 0%, 0%, 20%);
  transition: max-height 1s 0s cubic-bezier(0, 1, 0, 1);
}

.note.open {
  max-height: 600px;
  transition: max-height 1s 0s linear;
}

.note span span {
  opacity: 1;
  transition: 0.1s 0s linear;
}

.note.open span span {
  opacity: 0;
  transition: 0.1s 0s linear;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.animate-flow.audiohand {
  animation: animate-flow-audiohand 30s ease-in-out 0s infinite;
}
.animate-flow.loto {
  animation: animate-flow-loto 60s ease-in-out 0s infinite;
}

#wallpaper {
  animation: animate-wallpaper 60s linear 0s infinite;

}

.shadow {
  filter: drop-shadow(6px 6px 1px hsla(0, 0%, 0%, 20%));
  /* filter: drop-shadow(2px 2px 6px hsla(0, 0%, 0%, 20%));*/
}

.box-shadow {
  box-shadow: 2px 2px 2px 4px hsla(0, 0%, 0%, 20%);
}

.box-shadow-edged {
  box-shadow: 0px 0px 4px 2px hsla(0, 0%, 0%, 20%),
    2px 2px 2px 4px hsla(0, 0%, 0%, 20%);
}

.box-shadow-shallow {
  box-shadow: 3px 3px 2px 0px hsla(0, 0%, 0%, 20%);
}

.button {
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: hsl(200, 50%, 50%);
  color: hsl(0, 0%, 100%);
  transition: 0.2s 0s linear;
}

.button.blue {
  color: hsl(0, 0%, 100%);
  background: hsl(200, 50%, 50%);
}

.button.blue:hover {
  background: hsl(200, 60%, 40%);
}

.button.blue:active {
  transform: scale(0.9);
}

.button.orange {
  color: hsl(0, 0%, 0%);
  background:hsl(40, 100%, 70%); 

}

.button.orange:hover {
  background: hsl(30, 90%, 60%);
}

.button.orange:active {
  transform: scale(0.9);
}

.button.lightgray {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 95%);
}


.button.lightgray:hover {
  background: hsl(0, 0%, 70%);
}

.button.lightgray:active {
  transform: scale(0.9);
}

.button-link {
  outline: none;
  border: 0.1rem solid;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  /* width: auto;
  height: min-content;*/
  flex: 0;
  cursor: pointer;
}

.button-link.white {
  color: hsla(0, 0%, 100%, 100%);
  background: hsla(0, 0%, 100%, 0%);
}

.button-link.white:hover {
  background: hsla(0, 0%, 100%, 20%);
}

.button-link.black {
  color: hsla(0, 0%, 0%, 100%);
  background: hsla(0, 0%, 100%, 0%);
}

.button-link.black:hover {
  background: hsla(0, 0%, 0%, 20%);
}

.svg-text {
  text-anchor: start;
  text-align: start;
}

.cycle {
  transition-duration: 0.2s;
  animation: 15s linear 0s infinite normal running;
}

.keyframe1 {
  animation-name: cycle1of3;
  /*6s linear 0s infinite normal running;*/
  z-index: 3;
}

.keyframe2 {
  animation-name: cycle2of3;
  z-index: 2;
}

.keyframe3 {
  animation-name: cycle3of3;
  z-index: 1;
}

@keyframes cycle1of3 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes cycle2of3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cycle3of3 {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  59% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
}

@keyframes cycle1of4 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes cycle2of4 {
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes animate-flow-audiohand {
  0%{background-position: top;
    background-size: 100%;}
  25%{background-position: left;
  background-size: 200%;} 
  75%{background-position: top;
    background-size: 200%;} 
  100%{background-position: top;
    background-size: 100%;} 
}

@keyframes animate-flow-loto {
  0%{background-position: top;
    background-size: 100%;}
  25%{background-position: top;
  background-size: 500%;} 
  75%{background-position: center;
    background-size: 500%;} 
  100%{background-position: top;
    background-size: 100%;} 
}

@keyframes animate-wallpaper {
  0% {
    background-color: hsl(174,20%,60%);
    background-position: 0% 0%;
  }
  25% {
    background-color: hsl(40,20%,60%);
    background-position: -50% 50%;
  }
  50% {
    background-color: hsl(174,20%,60%);
    background-position: -100% 100%;
  }
  75% {
    background-color: hsl(330,20%,60%);
    background-position: -50% 50%;
  }
  100% {
    background-color: hsl(174,20%,60%);
    background-position: 0% 0%;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

p,
.p {
  box-sizing: content-box;
  max-width: 36em;
  margin: 0;
}
