@media screen and (min-width: 700px) and (max-width: 1023px) {
  :root {
    font-size: 16px;
    /*clamp(16px, 1.5vw, 48px);*/
  }
  .main-content {
    grid-template-columns: [content] minmax(auto, 1fr);
  }
  .scroll-zone {
    padding: 1rem 2rem 2rem 2rem;
  }
  .hero {
    position: static;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    align-items: center;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
  }
  .hero.top {
    height: auto;
    min-height: auto;
  }
  .hero.bottom {
    min-height: 500px;
  }
  .tablet-min-height-500 {
    min-height: 500px;
  }
  .tablet-col {
    display: flex;
    flex-direction: column;
  }
  .tablet-row {
    display: flex;
    flex-direction: row;
  }
  .desktop-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    padding: 0;
  }
}
