@media screen and (min-width: 1024px) and (max-width: 1397px) {
  .laptop-hide {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
  }
  :root {
    font-size: 16px;
    /*clamp(16px, 1.5vw, 48px);*/
  }
  .App {
    display: grid;
    grid-template-columns: [side] 300px [content] 1fr;
    grid-template-rows: [content] 1fr;
  }
  .main-content {
    position: relative;
    grid-column: content / span 1;
    grid-row: content / span 1;
    grid-template-rows: [content] 1fr;
    grid-template-columns: [content] 1fr [hero] 40%;
  }
  .scroll-zone {
    grid-column: content / span 2;
    grid-row: content / span 1;
    padding: 2rem 40% 3rem 2rem;
  }
  .listpage-content .scroll-zone {
    padding: 2rem;
    }

    .scroll-content {
      gap: 1rem;
    }

  .hero {
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    right: 0;
    width: 40%;
    height: auto;
    padding: 2rem;
  }
  .hero .audiohand {
    width: calc(591px * 0.5);
    height: calc(1243px * 0.5);
    min-width: calc(591px * 0.2);
    min-height: calc(1243px * 0.2);
    max-width: calc(591px * 0.6);
    max-height: calc(1243px * 0.6);
  }
  .hero .intuitive {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: calc(500px * 0.5);
    height: calc(500px * 0.5);
    min-width: calc(500px * 0.5);
    min-height: calc(500px * 0.5);
    max-width: 100%;
    max-height: 100%;
  }
  .hero .loto {
    width: calc(284px * 0.9);
    height: calc(578px * 0.9);
    min-width: calc(284px * 0.6);
    min-height: calc(578px * 0.6);
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
  /*.hero-margins {
    margin: 0 auto auto auto;
  }

  .hero.top {
    height: auto;
    min-height: auto;
  }

  .hero.bottom {
    height: auto;
    /*   min-height: 500px;*/
  .laptop-min-height-500 {
    height: 500px;
    min-height: 500px;
  }
  .laptop-col {
    display: flex;
    flex-direction: column;
  }
  .laptop-row {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  h4 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }
  h5 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}
