.cycle-15s {
  transition-duration: 0.2s;
  animation: 15s linear 0s infinite normal running;
}

.cycle-20s {
  transition-duration: 0.2s;
  animation: 20s linear 0s infinite normal running;
}

.keyframe.hide1 {
  animation-name: hide-1of3; /*6s linear 0s infinite normal running;*/
  z-index: 3;
}
.keyframe.hide2 {
  animation-name: hide-2of3;
  z-index: 2;
}
.keyframe.hide3 {
  z-index: 1;
}

.keyframe.show-only1 {
  animation-name: show-only-1of3;
  z-index: 3;
}
.keyframe.show-only2 {
  animation-name: show-only-2of3;
  z-index: 2;
}
.keyframe.show-only3 {
  animation-name: show-only-3of3;
  z-index: 1;
}

@keyframes hide-1of3 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes hide-2of3 {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}

@keyframes show-only-1of3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-only-2of3 {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-only-3of3 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cycle1of4 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}
@keyframes cycle2of4 {
  5% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
}
