@media screen and (min-width: 1398px) {
  .desktop-hide {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
  }

  .App {
    display: grid;
    grid-template-columns: [side] 320px [content] 1fr;
    grid-template-rows: [content] 1fr;
  }
  .main-content {
    position: relative;
    grid-column: content / span 1;
    grid-row: content / span 1;
    grid-template-rows: [content] 1fr;
    grid-template-columns: [content] 1fr [hero] 40%;
  }
  .hero {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 3rem;
  }
  .hero .audiohand {
    width: calc(591px * 0.5);
    height: calc(1243px * 0.5);
    min-width: calc(591px * 0.2);
    min-height: calc(1243px * 0.2);
    max-width: calc(591px * 0.6);
    max-height: calc(1243px * 0.6);
  }
  .hero .intuitive {
    width: calc(500px * 1);
    height: calc(500px * 1);
    min-width: calc(500px * 0.5);
    min-height: calc(500px * 0.5);
    max-width: 100%;
    max-height: 100%;
  }
  .hero .loto {
    width: calc(284px * 1.2);
    height: calc(578px * 1.2);
    min-width: calc(284px * 0.6);
    min-height: calc(578px * 0.6);
    max-width: 100%;
    max-height: 100%;
  }
  /*
  .hero-margins {
    margin: 0 0 auto auto;
  }*/
  .scroll-zone {
    grid-column: content / span 2;
    grid-row: content / span 1;
    padding: 2rem 40% 5rem 3rem;
  }

  .listpage-content .scroll-zone {
  padding: 2rem;
  }

  .scroll-content {
    gap: 1rem;
  }
  
  .desktop-col {
    display: flex;
    flex-direction: column;
  }
  .desktop-row {
    display: flex;
    flex-direction: row;
  }
  .desktop-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-grow: 0;
    flex-shrink: 0;
  }
  h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  h4 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }
  h5 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
  }
}
